<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button  defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            producto proveedor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="crearPrecio()">
        CREAR PRECIO
    </ion-button>
    <ion-item>
        <ion-label>producto: {{producto.nombre}} </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Unidad de medida: {{producto.unidad_de_medida}} </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Frecuencia de uso: {{producto.frecuencia_de_uso}} </ion-label>
    </ion-item>
    <ion-list class="listname">
        <ion-item-sliding *ngFor="let producto_proveedor of producto_proveedores; let index= index">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="/assets/user.png">
                    </ion-avatar>
                    <ion-label>
                        <h2> {{producto_proveedor.descripcion}}</h2>
                        <p>Nombre p: {{mostrarNombreProveedor(producto_proveedor.id_proveedor)}}</p>
                        <p>Precio Unitario: {{producto_proveedor.precio_unitario}}</p>
                    </ion-label>
                    <ion-note slot="end">
                        10:45 AM
                    </ion-note>
                </ion-item>
    
                <ion-item-options side="start" (click)="modificarProducto(producto)">
                    <ion-item-option>
                        <ion-icon slot="icon-only" name="ios-create"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
    
                <ion-item-options side="end" >
                    <ion-item-option color="danger"  (click)="presentAlertConfirm(producto_proveedor)">
                        <ion-icon slot="icon-only" name="ios-trash"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="verprecios(producto)">
                        <ion-icon slot="icon-only" name="eye"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
    </ion-list>
</ion-content>