<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="basket"></ion-icon>
            <ion-label>Compra</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Proveedores</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="contacto">
            <ion-icon name="alert"></ion-icon>
            <ion-label>contacto</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>