<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            edicion producto proveedor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label> {{producto.nombre}} </ion-label>
    <ion-list lines="none">
        <ion-item>
            <ion-label>proveedor</ion-label>
            <ion-select [(ngModel)]="producto_proveedor.id_proveedor">
                <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                    {{proveedor.nombre}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Precio unitario</ion-label>
            <ion-input [(ngModel)]="producto_proveedor.precio_unitario" type="text" placeholder="ingrese el precio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-input [(ngModel)]="producto_proveedor.descripcion" type="text" placeholder="ingrese la descripcion"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
</ion-content>