
ion-list  {
background: transparent;
}
ion-fab-button{
    // width: 50px;
    // height: 50px;
    --background:rgba(37, 13, 91, 1); 
}
.ico{
    // width: 5%;
    // height: 5%; 
    --background: #3c3737;
    --color: white; 
}
h2{
    color: rgb(32, 12, 78);
}
p{
    color:rgba(37, 13, 91, 1);
}
span{
    color: #6c41c9;
}
.ico-create{
    background:rgba(37, 13, 91, 1);
}
.ico-eye{
background: #abe82e;
}
.ico-trash{
    background: #ff0e0e;
}