<ion-header>
    <ion-toolbar>
        <ion-title>
            Clientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding class="item-native" *ngFor="let producto of productos; let index= index">
            <ion-item>
                <!-- <ion-thumbnail slot="start">
                    <img [src]="producto.imagen">
                </ion-thumbnail> -->
                <ion-label>
                    <h2> {{producto.nombre}}</h2>
                    <p>Servicio: <span>{{producto.unidad_de_medida}}</span></p>
                    <p>Vencimiento: <span>{{producto.frecuencia_de_uso}}</span></p>
                    <p>Contacto: <span>{{producto.contacto}}</span></p>
                </ion-label>
                <!-- <ion-note slot="end">
                    10:45 AM
                </ion-note> -->
            </ion-item>

            <ion-item-options side="start" (click)="modificarProducto(producto)">
                <ion-item-option class="ico-create">
                    <ion-icon slot="icon-only" name="ios-create"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option class="ico-trash" color="danger" (click)="presentAlertConfirm(producto)">
                    <ion-icon slot="icon-only" name="ios-trash"></ion-icon>
                </ion-item-option>
                <ion-item-option class="ico-eye" (click)="apiWhatsapp()">
                    <ion-icon slot="icon-only" name=logo-whatsapp></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<footer>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button class="ico" (click)="pushListProducto()">
                <ion-icon name="add-circle-outline">nuevo</ion-icon>
            </ion-fab-button>
            <ion-fab-button class="ico" (click)="ionViewDidenter()">
                <ion-icon name="refresh">Actualizar</ion-icon>
            </ion-fab-button>
            <ion-fab-button class="ico" (click)="enviarEmail()">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</footer>