ion-list  {
    background: transparent;
    }
    .ico{
        // width: 30px;
        // height: 30px; 
        --background: black;
        --color: white; 
    }
    h2{
        color: rgb(32, 12, 78);
    }
    p{
        color:rgba(37, 13, 91, 1);
    }
    span{
        color: #6c41c9;
    }
    ion-fab-button{
        // width: 50px;
        // height: 50px;
        --background:rgba(37, 13, 91, 1); 
    }
    .ico{
        // width: 5%;
        // height: 5%; 
        --background: #3c3737;
        --color: white; 
    }
