<ion-header>
    <ion-toolbar>
        <ion-title>
            Proveedores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-list>
        <ion-item-sliding class="item-native" *ngFor="let proveedor of proveedores; let index = index">
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="/assets/user.png">
                </ion-thumbnail>
                <ion-label>
                    <h2> {{proveedor.nombre}}</h2>
                    <p>Dirección: <span>{{proveedor.direccion}}</span></p>
                    <p>Telefono: <span>{{proveedor.telefono}}</span> </p>
                </ion-label>
                <ion-note slot="end">
                    10:45 AM
                </ion-note>
            </ion-item>

            <ion-item-options side="start" (click)="modificarProveedor(proveedor)">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="ios-create"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end" >
                <ion-item-option color="danger" (click)="presentAlertConfirm(proveedor)">
                    <ion-icon slot="icon-only" name="ios-trash"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="verprecios(proveedor)">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<footer>
        <ion-fab vertical="bottom" horizontal="end">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
    
            <ion-fab-list side="top">
                <ion-fab-button class="ico" (click)="pushList()">
                    <ion-icon name="add-circle-outline">nuevo</ion-icon>
                </ion-fab-button>
                <ion-fab-button class="ico" (click)="ionViewDidenter()">
                    <ion-icon name="refresh">Actualizar</ion-icon>
                </ion-fab-button>
                <ion-fab-button class="ico" (click)="enviarEmail()">
                    <ion-icon name="logo-google"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </footer>