<ion-header>
    <ion-toolbar>
        <ion-title>Edición proveedor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-list padding>
            <ion-label >Provedores</ion-label>
        <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="proveedor.nombre" placeholder="Ingrese Nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="end">
                <img src="/assets/pastadental.jpg">
            </ion-thumbnail>
            <ion-label>Imagen</ion-label>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Direccion</ion-label>
            <ion-input [(ngModel)]="proveedor.direccion" type="text" placeholder="ingrese direccion"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Telefono</ion-label>
            <ion-input [(ngModel)]="proveedor.telefono" type="number" placeholder="ingrese teelfono"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
    <ion-button expand="block" (click)="cancelar()">Cancelar</ion-button>
</ion-content>