<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
        </ion-buttons>
        <ion-title>
            Agregar Cliente
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list padding>
        <ion-label>Clientes</ion-label>
        <ion-item>
            <ion-label position="stacked">Nombre:</ion-label>
            <ion-input [(ngModel)]="producto.nombre" placeholder="Ingrese Nombre"></ion-input>
        </ion-item>
        <!-- <ion-item>
            <ion-label>Imagen:</ion-label>
            <ion-thumbnail>
                <img [src]="producto.imagen">
            </ion-thumbnail>
            <ion-button (click)="capturarImagen()">
                foto
            </ion-button>
            <ion-button (click)="albumImagen()">
                album
            </ion-button>

        </ion-item> -->
        <ion-item>
            <ion-label position="stacked">Servicio:</ion-label>
            <ion-input [(ngModel)]="producto.unidad_de_medida" placeholder="Servicio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Vencimiento:</ion-label>
            <ion-input [(ngModel)]="producto.frecuencia_de_uso" placeholder="Vencimiento"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Contacto:</ion-label>
            <ion-input [(ngModel)]="producto.contacto" placeholder="Contacto"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
    <ion-button expand="block" (click)="cancelar()">Cancelar</ion-button>

</ion-content>